
<div id="container">
	<header>Tic Cat Toe</header>


<!-- <div id="startmessage" class="popup"> 
	<h1>START PLAYING RIGHT MEOW</h1>
	</div> -->

	<div id="gameboard">
		<div ng-repeat="row in games[gameId].board">
			<div ng-class="{sqr:true,topLine:$parent.$index != 0,leftLine:$index !=0, x: cell.value == 'X', o: cell.value == 'O'}"  
				ng-repeat="cell in row"
				ng-click="clickSquare(cell);" 
				>	
			</div>
			<div class="clearfix">
			</div>
		</div>
		<div id="winMessage" class="popup" ng-show="hasWon" ng-model="someone" ng-hide="winmessage==''"> 
			{{ winmessage }}
			<br><button ng-click="winmessage=''; room.hasWon=false">OK</button>
		</div>
		<div id="waiting"  class= "popup" ng-show="games[gameId].waiting"> Please wait for a player...</div>
	</div>
	<footer>Play right MEOW</footer>
</div>




