
<div id="container">

	<header>Tic Cat Toe</header>

	<div id="gameboard">

			<!-- <div id="startmessage" class="popup"> 
				<h1>START PLAYING RIGHT MEOW</h1>
			</div> -->


 
			<div id="box1_1" class="sqr" onclick="playBox()"></div>
			<div id="box1_2" class="sqr" onclick="playBox()"></div>
			<div id="box1_3" class="sqr" onclick="playBox()"></div>
	  		<div class="clear"></div>
	  
			<div id="box2_1" class="sqr" onclick="playBox()"></div>
			<div id="box2_2" class="sqr" onclick="playBox()"></div>
			<div id="box2_3" class="sqr" onclick="playBox()"></div>
	 		<div class="clear"></div>
	  
			<div id="box3_1" class="sqr" onclick="playBox()"></div>
			<div id="box3_2" class="sqr" onclick="playBox()"></div>
			<div id="box3_3" class="sqr" onclick="playBox()"></div>
	  		<div class="clear"></div>
	  		
	</div>




	<footer>I am a footer</footer>

</div>